LOBBY_USERNAME=admin
# generate with: python -c "from werkzeug.security import generate_password_hash; print(generate_password_hash('yourpassword'))"
LOBBY_PASSWORD_HASH=
# generate with: openssl rand -hex 32
SECRET_KEY=
